# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environments ---
.venv/
venv/
env/

# --- Data, model artifacts, Cluster ---
*.h5
*.pth
*.out
*.slurm

# --- Mac/Windows system files ---
.DS_Store
Thumbs.db
desktop.ini

# --- Editor/IDE ---
.vscode/
.idea/